/* body{
    background-image: linear-gradient(#FFF, #FF5757);
    background-color: linear-gradient(#FFF, #FF5757);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
