.tree {
  height: 100vh;
  overflow: hidden;
  background-color: #f9f9f9;
  font-size: 1.4em;
}

.m-node.placeholder {
  border: 1px dashed #1385e5;
}

.m-node .inner {
  color: #4d4d4d;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}

/*
.m-node .node:before {
  content: "I";
  width: 20px;
  height: 20px;
  border: 1px solid red;
}
*/

.m-node .node.is-active {
  background-color: #31363f;
}
